adf/pipeline/pl_bronze_olist_ingest.json
{
	"name": "pl_bronze_olist_ingest",
	"properties": {
		"activities": [
			{
				"name": "lookup_pipeline_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_pipeline_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_copy_tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_pipeline_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_pipeline_config').output.value",
						"type": "Expression"
					},
					"batchCount": 4
				}
			}
		],
		"annotations": []
	}
}